@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("Imagenes/ImagenesPrincipal/Perros.webp") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background: #000000;
    padding: 6px 16px;
    height: 100%;
    box-shadow: 5px 0 30px rgba(0,0,0,.1);
    transition: all .5s ease;
    z-index: 9996;
}

.sidebar1.active1 {
    width: 240px;
}

.sidebar1 .logo_content1 .logo1 {
    display: flex;
    color: #ffb700;
    height: 50px;
    width: 100%;
    font-size: 30px;
    margin-left: 30px; 
    margin-top: 5px;  
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar1.active1 .logo_content1 .logo1 {
    opacity: 1;
}

.sidebar1 .logo_content1 .logo1 .logo_name1 {
    font-size: 23px;
    font-weight: 600;
    margin: 0 10px;
}

.sidebar1 #btn1 {
    position: absolute;
    color: #ffffff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}

.sidebar1.active1 #btn1 {
    left: 85%;
}

.sidebar1 .src1 {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.sidebar1 .src1 input {
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    left: 0;
    top: 0;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #ffffff;
    padding-left: 50px;
    font-size: 15px;
    color: #000000;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transition: all .5s ease;
}

.sidebar1 .src1 .bx-search-alt {
    position: absolute;
    font-size: 22px;
    color: #000000;
    z-index: 9997;
    transition: all .5s ease;
}

.sidebar1 .src1 .bx-search-alt:hover ~ input {
    background: #ffffff;
}

.sidebar1 i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.sidebar1 ul {
    margin-top: 20px;
}

.sidebar1 ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar1 ul li a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .5s ease;
}

.sidebar1 ul li a:hover {
    color: #000000;
    background: #ffb700;
}

.sidebar1 .link_name1 {
    opacity: 0;
    pointer-events: none;
}

.sidebar1.active1 .link_name1 {
    opacity: 1;
    font-weight: 550;
    pointer-events: auto;
}

.sidebar1 ul li .tooltip1 {
    position: absolute;
    left: 140px;
    top: 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    background: #ffffff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #242424;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar1.active1 ul li .tooltip1 {
    display: none;
}

.sidebar1 ul li:hover .tooltip1 {
    opacity: 1;
    top: 50%;
}

.home_content1 {
    position: absolute;
    height: 100%;
    width: calc(100% - 300px);
    left: 80px;
    transition: all .5s ease;
}

.home_content1 .text1 {
    font-size: 25px;
    font-weight: 500;
    color: #242424;
    padding: 12px 24px;
}

.sidebar1.active1 ~ .home_content1 {
    left: 300px;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00a03b;
    padding: 5px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-icon a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.whatsapp-icon i {
    margin-right: 8px;
    font-size: 35px;
}

.whatsapp-icon:hover {
    background-color: #00af40;
}

.carta-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    border: 2px solid black; 
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    z-index: 9999;
}

.carta-btn:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.carta-container {
    display: none;
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
}

.carta-container img {
    max-width: 90%;
    max-height: 80%;
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
}

.carta-container.zoom img {
    transform: scale(2);
    cursor: zoom-out;
}

.toggle-img-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.toggle-img-btn:hover {
    background-color: rgb(255, 255, 255);
}

.btn-down {
    bottom: 10px;
}

.btn-up {
    top: 10px;
    display: none;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out, visibility 1s ease-out;
    z-index: 9999;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid #ffb700;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

#image-container {
    width: 450px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 4px;
    border-radius: 20px;
    transform: translateX(-10px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 85px;
    z-index: 10;
}

@media (max-width: 768px) {
    #image-container {
        width: 300px;
        height: 280px;
        transform: translateX(190px);
        top: 185px;
    }
}

.image {
    width: 100%;
    height: 80%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 20px;
    z-index: 10;
}

.active {
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 35px;
    z-index: 99;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    color: rgba(0, 0, 0, 0.856);
}

.left {
    left: 0px;
}

.right {
    right: 0px;
}

#image-container1 {
    width: 450px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 4px;
    border-radius: 20px;
    transform: translateX(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 85px;
    z-index: 10;
}

@media (max-width: 768px) {
    #image-container1 {
        width: 300px;
        height: 280px;
        display: flex;
        gap: 20px;
        transform: translateX(-110px);
        top: -50px;
    }
}

.image1 {
    width: 100%;
    height: 80%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 20px;
    z-index: 10;
}

.active1 {
    opacity: 1;
}

.arrow1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 35px;
    z-index: 99;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow1:hover {
    color: rgba(31, 31, 31, 0.856);
}

.left1 {
    left: 0px;
}

.right1 {
    right: 0px;
}

#image-container, #image-container1 {
    flex-shrink: 0;
}

.top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-110%);
    display: flex;
    align-items: baseline;
}

.black {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-right: 0.5rem;
    text-shadow: -1px -1px 0 #ffb700, 1px -1px 0 #ffb700, -1px 1px 0 #ffb700, 1px 1px 0 #ffb700;
}

@media (max-width: 600px) {
    .black {
        font-size: 2.3rem;
    }
    .top-center {
        transform: translateX(-50%);
        top: 10px;
    }
}

.contenedor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imagen-ajustable {
    position: absolute;
    top: 25px;
    left: 600px;
    z-index: 20;
    width: 400px;
    height: 250px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .imagen-ajustable {
        top: 40px;
        left: 100px;
        width: 300px;
        height: 200px;
    }
}